html, body {
  width: 100%;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

.content {
  text-align: center;
  display: block;
  font: 18px Arial, Helvetica, sans-serif;
}

img {
  max-width: 50%;
  max-height: 50%;
}

h1 {
  text-align: center;
  font-weight: 1500;
  margin: 50px auto;
  font: 35px Arial, Helvetica, sans-serif;
}

h2 {
  text-align: center;
  font-weight: 1500;
  margin: 50px auto;
  font: 25px Arial, Helvetica, sans-serif;
}

li {
  font: 18px Arial, Helvetica, sans-serif;
  padding: 15px
}

ul {
  display: table;
  margin: 0 auto;
}

th, td {
  padding: 15px;
  border: 1px solid black;
  font: 18px Arial, Helvetica, sans-serif;
  text-align: center;
}

th {
  font-weight: 1500;
}

table {
  border: 1px solid black;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

